<%= form_for(@waddle) do |f| %>
  <% if @waddle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waddle.errors.count, "error") %> prohibited this waddle from being saved:</h2>

      <ul>
      <% @waddle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.text_field :birthday %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :dance_type %><br>
    <%= f.text_field :dance_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
